---
layout: single
---

{{ content }}

<p>Hi! My name is Eunkyung and you can call me Ara. <br>
    Ara was a name that my parents wanted to give me when I was just born. <br>
    Ara and my last name Jo together make meaning of 'I like it!' <br><br>
    I majored in social psychology for my bachelor's degree and criminal psychology for master's degree 
    in <a href="https://www.sookmyung.ac.kr/sites/sookmyungen/index.do">Sookmyung Women's University</a>.<br><br>  

    

  <b>Research Interests</b><br>
  I am interested in how people make a decision on their own or make a judgment for other people, especially in moral situations. 
  Also, I want to know how social norm impact on the process of moral judgment. 
  For my master's thesis, I researched on victim and perpetrator blaming in different types of crimes (assualt, rape, murder), to figure out basic process of blame judgment in criminal cases. <br><br>

  <b>Working Experiences</b><br>  
  I worked as a research assistant and then researcher as I earned my master's degree. 
  I worked in the <a href="https://www.kicj.re.kr/international/">Korean Institute of Criminology and Justice</a> 
  and participated in several projects to (1) collect data from legal cases of sexual crime 
  and (2) to develop text bookds and guideline to prevent secondary victimization, which is a consequence of interaction between moral judgment and social norm. 
  </p>

